.form-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.form-control {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ddd;
}

.form-control:focus {
  border-color: #534698;
  box-shadow: none;
}

.btn-primary {
  background-color: #534698;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #43397d;
}