.form-box {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.form-control {
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #ddd;
}

.form-control:focus {
  border-color: #534698;
  box-shadow: none;
}

.btn-primary {
  background-color: #534698;
  border: none;
  padding: 12px;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #43397d;
}

.map-box {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}